* {
  font-family: monospace;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.block {
  display: inline-block;
  border: solid 0.1rem #333;
  padding: 0.3rem;
  overflow-wrap: anywhere;
}
.block_space {
  display: inline-block;
  visibility: hidden;
}

.layer_container {
  display: flex;
}

hr {
  border: solid 0.1rem rgba(0,0,0, 0.15);
  border-width: 0.1rem 0 0 0;
  margin: 0.3rem 0;
}
